/* GroceryList Component CSS */

/* Styles for the main grocery list container */
.grocery-list {
  background-color: #d8bcbc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  max-width: 800px;
  margin: 20px auto;
  overflow-y: auto;
  position: relative; /* Set position relative for absolute positioning of child elements */
  margin-left: auto; /* Align to the right side of the container */
}

/* Styles for the title of the grocery list */
.grocery-list h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Styles for the list of grocery items */
.grocery-items {
  list-style-type: none;
  padding: 0;
  background-color: #FFE8E8;
  overflow-y: auto; 
}

/* Styles for each individual grocery item */
.grocery-item {
  padding: 5px 0;
}

/* Styles for the total cost display */
.total-cost {
  text-align: center;
  margin-top: 20px;
}
