.meal-card-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #000;
    background-color: #FFE8E8;
  }
  
  .meal-card-header {
    font-size: 24px;
    font-weight: bold;
    padding: 16px;
    background-color: #FDF3F3;
    border-bottom: 1px solid #000;
  }
  
  .meal-card-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .meal-card-content {
    padding: 16px;
    cursor: pointer;
  }
  
  .meal-card-title {
    margin: 0;
    margin-bottom: 8px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
  }
  
  .meal-card-description {
    margin: 0;
    color: #000;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .meal-card-calories {
    padding-right: -1px;
  }

  .meal-card-macros {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    font-weight: 500;
    color: #000;
  }
  
  .meal-card-buttons {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    background-color: #FDF3F3;
    position: relative;
  }
  
  .button-favorite, .button-weekly {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .button-favorite {

    color: #FFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    right: 36px;
  }
  
  .button-weekly {
    color: #000;
    right: 4px;
  }
  

  
  .button-weekly::before {
    content: '\002B';
    font-size: 36px;
  }
  
  @media (max-width: 768px) {
    .meal-card-container {
      max-width: 100%;
    }
  }