.weekly-plan-panel {
    background-color: #d8bcbc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 40%;
    user-select: none;
  }
  
  .weekly-plan-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .day-container {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FDF3F3;
  }
  
  .day-name {
    font-weight: bold;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  
  .day-meals {
    flex: 1;
  }
  
  .meal-item {
    background-color: #FFE8E8;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: grab;
  }
  
  .meal-item:active {
    cursor: grabbing;
  }
  
  .icon-sun {
    color: #FFA500;
    margin-right: 5px;
  }

  .meal-item button {
    background-color: pink;
  }