.meal-plan-panel {
  display: flex;
  flex-direction: column;
  width: 99.3dvw;
  background-color: #D9D9D9;
  font-family: 'Kodchasan', sans-serif;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.meal-plan-panel > h1 {
  text-align: center;
}

.meal-suggestions {
  background-color: #d8bcbc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 90dvw;
  height: auto;
}

.meal-suggestions-title { 
  text-align: center;
  font-size: 24px;
}

.meal-card-container {
  min-width: 300px;
  flex-shrink: 0; 
}

.meal-suggestions-scrollable {
  display: flex;
  flex-direction: row;
  gap: 5%;
  scrollbar-width: none;
  justify-content: center;
}

.day-container {
  display: flex;
  align-items: center; 
  padding: 10px;
  border: 1px solid #ccc; 
  margin-bottom: 10px; 
}

.meal-item {
  background-color: #FFE8E8;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer; 
}

.icon-sun {
  color: #FFA500; 
  margin-right: 10px;
}

.weekly-plan-section {
  display: flex;
  margin-top: 1%;
  margin-bottom: 1%;
  justify-content: space-evenly;
  width: 80vw;
}

.cultural-recipe {
  background-color: #d8bcbc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 80vw;
  height: auto;
}