.about-nutribuddy {
  text-align: center;
  margin-top: 50px;
}

.statement {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 20px auto; /* Adjusted margin */
  padding: 0;
  font-size: 24px; /* Adjusted font size */
}

.typing {
  animation: typing 5s steps(40, end);
  animation-delay: 1s; /* Delay before the typing animation starts */
}

@keyframes typing {
  from {
      width: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
      border-color: transparent;
  }
  50% {
      border-color: black;
  }
}
