.about-nutribuddy {
    text-align: center;
    margin-top: 50px;
}

.statement {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0;
}

.typing {
    animation: typing 1s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}
