/* GroceryList Component CSS */

/* Styling for the grocery list container */
.grocery-list {
    background-color: #fdf3f3; /* Set background color */
    border: 1px solid black; /* Add border */
    border-radius: 8px; /* Add border radius for rounded corners */
    padding: 20px; /* Add padding inside the container */
    width: 45%; /* Set width of the container */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth effect */
    overflow-y: auto; /* Enable vertical scrollbar when content exceeds container height */
    position: relative; /* Set position relative for absolute positioning of child elements */
    margin-left: auto; /* Align to the right side of the container */
  }
  
  /* Styling for the grocery list title */
  .grocery-list h2 {
    margin-top: 0; /* Remove top margin */
    font-size: 24px; /* Set font size */
    color: black; /* Set text color */
    margin-bottom: 10px; /* Add bottom margin */
  }
  
  /* Styling for the list of grocery items */
  .grocery-items {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }
  
  /* Styling for each grocery item */
  .grocery-item {
    font-size: 16px; /* Set font size */
    color: black; /* Set text color */
  }
  
  /* Styling for the cost of each grocery item */
  .grocery-item span {
    color: black; /* Set text color */
  }
  
  /* Styling for the total cost display */
  .total-cost {
    margin-top: 20px; /* Add top margin */
    text-align: right; /* Align total cost to the right */
    font-size: 20px;
  }
  
  /* Styling for the total cost text */
  .total-cost strong {
    font-weight: bold; /* Set font weight */
    color: black; /* Set text color */
  }
  